body {
    background-color: #ffffff;}
h1 {
    color: #000000; 
    font-size: 20px;
    text-align: left; 
    font-family: Arial, Helvetica, sans-serif;
}
p {
color: #000000;
 font-size: 23px;
 text-align: left;
 text-anchor: var(15);
}